name: Deploy Strapi to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # AWS login
      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Login ECR
      - name: Login to ECR
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      # Build + push Docker image
      - name: Build and Push Image
        env:
          ECR_REGISTRY: ${{ steps.ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $ECR_REGISTRY/strapi-repo:$IMAGE_TAG ./strapi-app
          docker push $ECR_REGISTRY/strapi-repo:$IMAGE_TAG
          echo "IMAGE_URI=$ECR_REGISTRY/strapi-repo:$IMAGE_TAG" >> $GITHUB_ENV

      # Terraform setup
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      # Auto deploy new image
      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve -var="image_uri=${IMAGE_URI}"
